{% extends "RIEVS/base.html" %}

{% block content %}
<h1>Olá</h1>
<ul>
    {% for topic in topics %}
    <li>
        <hr>
        <a href="{% url 'topic' topic.id %}">{{topic | linebreaks}}</a>
        {% if user.is_authenticated %}
        <a href="{% url 'edit_topic' topic.id %}">Editar </a> -
        <a href="{% url 'delete_topic' topic.id %}">Deletar</a>
        {% endif %}
    </li>

    {% empty %}

    <li>Não existem publicações para esse tópico</li>

    {% endfor %}
</ul>
{% endblock content %}
