{% extends "RIEVS/base.html" %}

{% block content %}
    <h1>{{ topic.title }}</h1>
    <a href="{% url 'new_publication' topic.id %}">Nova publicação</a>
    <ul>
        {% for publication in publications %}
            <li>
                <p>{{publication.data_added | date:'d-M-Y H:i'}}</p>
                <a href="{% url 'publication' publication.id %}">{{publication  | linebreaks}}</a>
            </li>

            {% empty %}

            <li>Não existem publicações para esse tópico</li>

        {% endfor %}
    </ul>
{% endblock content %}
